# python
__pycache__/

# emacs
.gitignore~
init.el~
bookmarks
bookmarks~

# blink-search
blink-search.db
history.txt

# mind-wave
chatgpt_api_key.txt

# popweb
popweb/browser

# projectile
projectile.cache
projectile-bookmarks.eld

# recentf
recentf

# tramp
tramp

.cache/
all-the-icons/
auto-save-list/
eaf/
eln-cache/
elpa/
emacs-application-framework/
emacs-rime/
eshell/
history
server/
transient/
url/
var/
var/savehist.el
var/save-place.el
var/recentf-save.el
