.cache/
.gitignore~
all-the-icons/
auto-save-list/
bookmarks
bookmarks~
eaf/
eln-cache/
elpa/
emacs-application-framework/
emacs-rime/
eshell/
history
init.el~
/lsp-bridge
mind-wave/
projectile.cache
projectile-bookmarks.eld
recentf
server/
tramp
transient/
url/
var/
var/savehist.el
var/save-place.el
var/recentf-save.el
